.quest-div{
    border-style:solid;
    border-color: rgb(54, 50, 50);
    padding: 2rem;
    background-color: rgb(90, 134, 104);
    border-radius: 10px;
    border-width: 4px;
    width: 600px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
  }
  
  .quest-title h1{
    font-size: 20px;
    color: rgb(54, 50, 50);
  }
  
  
  .quest-show-points{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding-right: 1rem;
  }
  
  
  
  
  .quest-progress-bar{
  
    width: 100%;
    height: 2rem;
    background-color: #FFFFFF;
    border-radius: 1.5em;
    border-color: black;
    color:#F5F5F5;
    font-weight: bold;
    position: relative;
  
  }
  
  
  .quest-progress-bar::before{
  
    content: attr(data-label);
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--progress-percent, 0%) * 1%);
    min-width: 0rem;
    max-width: calc(100%-1rem);
    background-color: #2E4F4F;
    left: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
    position: absolute;
    padding: 0.25em;
    border-radius: 1em;
    
  }